Pillow==9.4.0
streamlit==1.27.0
streamlit-chat==0.1.1
langchain==0.1.14
langchain-aws
faiss-cpu>=1.7,<2
unstructured==0.10.16
SQLAlchemy==2.0.21
xmltodict==0.13.0
pypdf>=3.8,<4
opensearch-py==2.3.1
tiktoken


